.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__hero {
    position: relative;
    padding-bottom: 128px;
    background: url(~images/content/bg-hero-tablet.jpg) center top / cover;
  }

  &__header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  &__welcome {
    height: 100vh;
    min-height: 568px;
  }

  &__footer {
    margin-top: auto;
  }
}
