.projects {
  padding: 91px 0 100px;
  color: $color-text-inverse;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
  }

  &__slider {
    margin: 0 -30px;
  }

  &__desc {
    margin-top: 60px;
  }
}
