.socials {
  display: flex;

  &__item {
    &:not(:first-child) {
      margin-left: 21px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border: 1px solid;
    border-radius: 50%;
    opacity: 0.3;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__icon {
    width: 0.5em;
    height: 0.5em;
  }
}
