.user {
  display: flex;

  &__photo {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    object-fit: none;
    object-position: 50% -10px;
    border-radius: 50%;
  }

  &__title {
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    opacity: 0.5;
  }
}
