.app-user {
  display: flex;
  align-items: center;

  &__avatar {
    align-self: flex-start;
    flex: none;
  }

  &__name {
    margin-left: 18px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }
}
