.category {
  &--deleting {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.5;
  }

  &__footer {
    width: 77%;
    margin-top: auto;
    margin-left: auto;
    padding-top: 70px;

    &--disabled {
      pointer-events: none;
      filter: grayscale(1);
      opacity: 0.5;
    }
  }
}
