.skill {
  display: flex;
  align-items: center;

  &__title {
    flex: 3;
    margin-right: 70px;
  }

  &__percent {
    flex: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  &__action {
    margin-left: 20px;
  }
}
