section.useful
  .container.useful__container
    h2.useful__title Чем я могу быть полезен вам
    p.useful__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    -
      var skills = {
        'Front-end': ['HTML5', 'CSS3', 'Javascript', 'Jquery <br> и Vue.js'],
        'Workflow': ['GIT', 'Terminal', 'Gulp', 'Webpack']
      }
    each value, key in skills
      .useful__box
        .skills
          h3.skills__title= key
          ul.skills__list
            each skill in value
              li.skills__item
                .skill
                  .skill__title !{skill}
                  svg.skill__svg(viewBox="0 0 128 128")
                    circle.skill__track(cx="64" cy="64" r="59" stroke="currentColor" stroke-width="3" fill="none")
                    circle.skill__diagram(cx="64" cy="64" r="59" stroke="url(#diagram)" stroke-width="10" fill="none" transform="rotate(180, 64, 64)")
                    linearGradient#diagram(x1="0" y1="0" x2="128" y2="0" gradientUnits="userSpaceOnUse")
                      stop(stop-color="#D0731B")
                      stop(offset="1" stop-color="#DC9322")
