section.welcome
  .container.welcome__container
    .welcome__content
      h1.welcome__title Личный сайт<br>веб разработчика
      .welcome__subtitle Владимир<br>Астаханов
    button.welcome__footer Скролл
      +icon('scroll').icon
