extends layouts/main.pug

block title
  | Page title

block content
  .page
    .page__hero
      header.page__header
        include blocks/header.pug
      .page__welcome
        include blocks/welcome.pug
      .page__about
        include blocks/about.pug
    .page__skills
      include blocks/skills.pug
    .page__works
      include blocks/projects.pug
    .page__reviews
      include blocks/reviews.pug
    footer.page__footer
      include blocks/footer.pug
