extends layouts/main.pug

block title
  | Page title

block content
  .page
    .page__hero
      header.page__header
        include blocks/header.pug
      .page__welcome
        include blocks/welcome.pug
      .page__about
        include blocks/about.pug
    .page__skills
      #skills-list
    .page__works
      #projects-block
    .page__reviews
      #reviews-block
    footer.page__footer
      include blocks/footer.pug

  include templates/entry.pug
