extends layouts/main.pug

block title
  | Page title

block content
  .page
    .page__hero

      +image('content/user.jpg', 'user-pic')
      +icon('link', 'link-class')
      .icon-bg
    .page__reviews
      include blocks/reviews.pug
    .page__footer
      include blocks/footer.pug
